@font-face {
  font-family: philosopher;
  src: url(../../public/fonts/philosopher/Philosopher-Regular.ttf);
}

@font-face {
  font-family: geometry_soft_pro;
  src: url(../../public/fonts/geometry_soft_pro/GeometrySoftPro-BoldN.otf);
}

@font-face {
  font-family: quenda;
  src: url(../../public/fonts/quenda/Quenda-Medium.otf);
}

$font-philosopher: 'philosopher';
$font-geometry_soft_pro: 'geometry_soft_pro';
$font-quenda: 'quenda';

$color-light-grey : #7e7e7e;
$color-dark-grey : #4b4b4b;
$color-light-grey2: #d9d8d8;
$color-networks : #6c6c6c;
$color-white: #fff;
$color-black: #242424;
$color-background-global: #f3f3f3;

@function textShadow($precision, $size, $color){
  $value: null; 
  $offset: 0;
  $length: $size * (1 / $precision) - 1;
  @for $i from 0 through $length {
    $offset: $offset + $precision;
    $shadow: $offset + px $offset + px $color;
    $value: append($value, $shadow, comma);
  }
  @return $value;
}

body, html {
	height: 100%;
	background-color: $color-background-global;
	margin: 0;
	position : relative;
}

.Header {
  width: auto;
  height: 100%;
  position: relative;

	&--minified {
		height: 200px;
	}

	&__link {
    width: 100%;
    height: 100%;
    display: block;

		@media (min-width: 928px) {
    	padding-top: 45px;
		}
	}
	
	&__image {
		background-image: url(/images/header.png);
    height: 100%;
    background-attachment: fixed;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
	}

	&__content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    animation: translateIn 1s;
    width: 100%;
	}

  h1 {
	  font-family: $font-philosopher;
	  font-size: 5em;
	  margin: 0 0 20px;
	  text-align: center;
	  font-weight: 100;
	  animation: fadein 2s;
	  color: #5362F6;
	  text-shadow: textShadow(0.25, 6, #E485F8);

	  span {
		  color: #5362F6;
		  text-shadow: textShadow(0.25, 6, #8490ff); //#E485F8);
		}

		span:nth-child(2n) {
		  color: #c93dff; //#ED625C;
		  text-shadow: textShadow(0.25, 6, #E485F8); // #F2A063);
		}
  }

	&__subtitle {
    font-family: $font-philosopher;
    font-size: 15px;
    text-align: center;
    display: block;
    animation: fadein 2s;    
    background-color: $color-black;
    margin: 0 auto;
    width: 65%;
    color: $color-white;

		@media (min-width: 928px) {
    	width: 40%;
		}
	}

	&__nav {
		font-family: $font-philosopher;
		font-size: 30px;
		color: $color-white;
		cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;

		@media (min-width: 670px) {
		  display: none;
		}
	}
}

.gradient {
	background-image: linear-gradient(0deg, $color-background-global 0%, rgba(0, 0, 0, 0) 50%);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  // transition: 0.5s;
  padding-top: 35px; 
  height: 45px;

  &.show {
  	width : 250px;
  	height: 100%;
		background-color: $color-black;

		@media (min-width: 670px) {
			height: auto;
		}
  }

  &.hidden {
  	width: 0;
    height: 45px;
  	background-color: $color-white;
  }

	@media (min-width: 670px) {
		width: 100% !important;
	  right: 0;
		position: absolute;
		top: 0;
		left: unset;
		background-color: $color-white;
  	overflow-x: unset;
  	padding: unset;
  	transition : none;
	}
	
	&__items {

		@media (min-width: 670px) {
			width: 100%;
	    display: flex;
	    justify-content: space-around;
	    text-decoration: none;
	    list-style: none;
    	height: 100%;
      align-items: center;
		}
	}

	&__item {
	  padding: 8px 8px 8px 32px;
	  display: block;
	  // transition: 0.3s;
	  cursor: pointer;
	  margin-top: 5px;
	  color: $color-white;

		@media (min-width: 670px) {
		  padding: 0;
		  display: block;
		  transition: none;
		  cursor: pointer;
		  margin-top: 0;
		  color: #5362F6;
		  text-shadow: textShadow(0.25, 6, transparent); // #E485F8
    	transition: text-shadow 1s ease;
		}

	  a {
			font-family: $font-philosopher;
		  font-size: 25px;
	  }

	  &:hover {

			@media (min-width: 670px) {
		  	text-shadow: textShadow(0.25, 6, #E485F8); // #d87eeb);
			}
	  }
	}

	&__close {
		color: $color-white;
		position: absolute;
	  top: 0;
	  right: 0;
	  font-size: 35px;
	  margin-left: 50px;
	  width: 40px;
	  text-align: center;

	  &:hover {
	  	background-color: $color-white;
	  }	  

		@media (min-width: 670px) {
		  display: none;
		}
	}
}

.Blog {
	border-bottom: 1px $color-light-grey solid;
	padding-bottom: 4em;
	margin: 4em auto;
	width: 80%;

	@media (min-width: 670px) {
		width: 50%;
		margin: 4em auto;
	}

	h3 {
		font-family: $font-philosopher;
		color: $color-dark-grey;
    margin-bottom: 0.5em;
	}

	&__picture {   
    height: 10em;
    margin: 10px auto;
    display: block;
	}

	&__content {		
		overflow:hidden; 
		white-space:nowrap; 
		text-overflow:ellipsis;
		font-family: $font-philosopher;
		color:$color-dark-grey;
    height: 20px;
	}
}

.BlogItem {
	border-bottom: 1px $color-light-grey solid;
	padding-bottom: 4em;
	margin: 4em auto;
	width: 80%;

	@media (min-width: 668px) {
		width: 50%;
		margin: 4em auto;
	}

	h3 {
		font-family: $font-philosopher;
		color: $color-dark-grey;
    margin-bottom: 2em;
	}

	&__picture {
    max-width: 85%;
    margin: 20px auto;
    display: block;
	}

	&__content {
		font-family: $font-philosopher;
		color:$color-dark-grey;
	}
	
}

.Contact {
	padding-bottom: 4em;
	margin: 4em auto;
	width: 80%;

	&__networks {	
		display: flex;
    align-items: center;
		padding-bottom: 4em;
		color: $color-light-grey;
		font-family: $font-philosopher;
		flex-direction: column;
		margin-top: 4em;
		text-align: justify;
	}
	
}

.Networks {	
	font-family: $font-philosopher;
	margin-top: 10px;
	color:$color-networks;
	display: flex;
  align-items: center;

	&__picto {		
    width: 1.3em;

	  &:hover {
	  	filter: opacity(0.5) drop-shadow(0 0 0 $color-light-grey);
	  }
	}

	&__link {
    padding-top: 5px;
		padding-left: 5px;
	}

	&--home {

		.Networks__picto {
  		width: 5em;
		}

		.Networks__link {
  		padding: 0 1em;

			@media (min-width: 668px) {
    		padding: 0 5em;
			}
		}
	}
}

.separator {
	display: block;
	width: 50%;
	border-top: 1px $color-light-grey solid;
	margin: 0 auto;
}

.Home {

	&__link {
		width: 100%;
		height: 100%;
		display: block;
	}

	&__paragraph {
		display: flex;
    align-items: center;
		padding-bottom: 4em;
		color: $color-light-grey;
		font-family: $font-philosopher;
		flex-direction: column;
		margin-top: 4em;
		text-align: justify;

		@media (min-width: 928px) {
			flex-direction: row;
    	align-items: flex-start; 	
			padding-top: 2em;
		}

		&--center {			
    	justify-content: center;
		}

		&--column {
			flex-direction: column;
		}

		&--reverse {
			flex-direction: column-reverse;
		}

		.paragraph {
			font-size: 1.5em;
		}
	}

	&__avatar {
		margin: 0 0 4em;

		@media (min-width: 928px) {
			margin-right: 32px;
			margin-top: 0;
		}

		img {
			width: 20em;
		}
	}

	&__section {
		width: 80%;
		margin: 0 auto;
		color: $color-light-grey;
		font-size: 12px;
		position: relative;
		overflow: hidden;

		@media (min-width: 928px) {
			.backgroundHover {
				opacity: 0;
			}
		}

		&:hover {

			.backgroundHover {
				opacity: 0.1;
			}
		}
	}

	&__title {
		display: block;
		font-family: $font-philosopher;
		color: $color-black;
    margin: 0 auto 1.5em;

	}

	&__blog {
    width: 100%;

    .BlogItem {
    	border: none;
    }

		.BlogItem__content {	
			overflow:hidden; 
			white-space:nowrap; 
			text-overflow:ellipsis;
			height: 20px;
		}

		.Networks {
			display: none;
		}
	}

	&__blogLink {
		position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	}
}

.Footer {
	background-color: $color-black;
	height: 20vh;

	&__items {
    text-decoration: none;
    list-style: none;
    color: $color-white;
		font-family: $font-philosopher;		
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	}

	&__item {
		padding: 0 1em;
	}
}

.Bibliographie {
	width: 80%;
	margin: 4em auto;

	&__picture {
		height: auto;
		padding-top: 8px;
		
		@media (min-width: 928px) {
			padding: 0;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		background-color: $color-white;
		margin-bottom: 2em;
    align-items: center;
		
		@media (min-width: 928px) {
			flex-direction: row;
    	align-items: flex-start;
		}
	}

	&__content {
		padding: 8px;
	}

	&__title {
		font-family: $font-philosopher;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: $color-dark-grey;
	}

	&__description {	
		font-family: $font-philosopher;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    color: $color-dark-grey;
	}

	&__link {	
		font-family: $font-philosopher;		
    color: $color-dark-grey;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    &:hover {
    	color: #808080;
    }

    span {
    	padding-left: 5px;
    }
	}

	h2 {	
		font-family: $font-philosopher;
    color: $color-dark-grey;
		margin-bottom: 2em;	
	}
	
}

.Informatique {
	width: 80%;
	margin: 4em auto;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-white;
		margin-bottom: 2em;
		
		@media (min-width: 928px) {
			flex-direction: row;
    	align-items: flex-start;
		}
	}

	&__picture {
		height: auto;
		width: 100%;
		
		@media (min-width: 928px) {
			width: 25em;
		}
	}

	&__content {
		padding: 8px;
	}

	&__title {
		font-family: $font-philosopher;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: $color-dark-grey;
	}

	&__description {	
		font-family: $font-philosopher;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    color: $color-dark-grey;
	}

	&__link {	
		font-family: $font-philosopher;		
    color: $color-dark-grey;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    &:hover {
    	color: #808080;
    }

    span {
    	padding-left: 5px;
    }
	}

	h2 {	
		font-family: $font-philosopher;
    color: $color-dark-grey;
		margin-bottom: 2em;	
	}
}